#project{
  width: 100%;
  height: max-content;
}

.project__box{
  width: 100%;
  height: 390px;
  background-color: var(--color-light-bg);
  margin-bottom: 70px;
  gap: 200px;
}

.project__introduction h3{
  font-size: var(--font-size-tag);
  font-weight: bold;
}

.project__introduction ul{
  margin: 1.3em 0;
  font-size: var(--font-size-text);
  font-weight: 400;
  line-height: 1.5;
}
/* button 이벤트 */
.project__btn{
  width: 100px;
  height: 34px;
  border-radius: 16px;
  border: none;
  margin: 0.9em auto;
  color: #fff;
  cursor: pointer;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  /* 텍스트 */
  font-size: 17px;
  letter-spacing: 0.1em;
  text-shadow: rgba(0, 0, 0, 0.24) 1px 0 10px;
}

.project__btn:hover{
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
@media (max-width: 768px) {
  .project__box{
    height: 590px;
    margin-bottom: 150px;
  }
  .project__imgbox img{
    width: 90%;
  }
  .project__introduction{
    margin-top: 20px;
  }
  .project__introduction h3{
    font-size: 24px;
  }
  .project__introduction ul{
    font-size: 16px;
  }
}
@media (min-width: 769px) {
  .project__box-wrap > .project__box{
    display: flex;
    justify-content: center;
  }
  
  .project__box-wrap div:nth-child(odd) .project__imgbox{
    margin-right: 13%;
  }

  .project__box-wrap div:nth-child(even) .project__imgbox{
    margin-left: 13%;
    order: 2;
  }

  .project__txtbox{
    padding: 90px 0 0 0;
  }
}